html, body {
      height: 100%;
      width: 100%;
      margin: 0;
}

.black {
      color: black !important;
}

.tourdetail-cover {
      margin-top: 10px;
}

.tourdetail-cover-container {
      width: 100%;
      background-position: center;
      background-color: white;
      background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
      color: black;
      padding-bottom: 50px;
      border-bottom: 1px solid rgb(215, 212, 212);
      font-family: 'Libre Baskerville', serif;
}

.bold {
      font-weight: bold;
}

.tourdetail-title p {
      font-size: 1.5em;
      margin: 0;
      margin-top: -10px;
}

.tourdetail-title h1 {
      font-size: 3.5em;
      margin: 20px 0 10px 0;
}

.tourdetail-title-col {
      padding: 120px 0 10px 0;
      border-bottom: 1px solid rgb(215, 212, 212);
      font-family: 'Raleway', serif;
}

.tourdetail-content-container {
      padding: 20px 0;
      font-family: 'Raleway';
}

.tourcarousel-container {
      margin: 20px auto 0 auto;
      display: block;
}

.tourdetail-content-container-row {
      margin-top: 20px;
      ul, ol {
            margin-top: 20px;
      }

      ol > li::marker {
            font-weight: bold;
          }
}

.tourdetail-content-container-row-programme {
      margin-bottom: 40px;
      border-bottom: 1px solid rgb(215, 212, 212);

      .programmeActivity-row {
            margin-bottom: 30px;
      }
}

.tourdetail-content-container-row-programme li, .tourdetail-content-included li {
      font-size: 0.9em;
      margin: 5px 0;
      padding: 0;
}

.tourdetail-content-container-row-programme ol h3, .tourdetail-content-container-row h3 { 
      font-size: 2em;
      font-weight: normal;
      margin: 0 0 0 -15px;
      padding-bottom: 10px;
}

.noliststyle {
      list-style: none !important;
      margin-bottom: 10px;
}

.programadeldia {
      margin: 0;
      padding: 10px 0;
      position: relative;
      left: -15px;
      font-size: 2.5em;
}

.tourdetail-content-container-ol {
      width: 100%;
}

.second-row, .third-row {
      padding-bottom: 40px;
}